<h1> Stupid Coaching</h1>

<form action="/answer" method="get" class= "input-group">
  <input type="text" name="question" placeholder="hello" class = form-control >
  <input type="submit" class= btn-primary>
</form>
